// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
  list-style:none;
}
ul{
  padding:0;
}

.header{
  font-size:20px;
  font-weight:bold;
  text-align:center;
}

.menu{
  background-color:#012F4B;
  color:#fff;
}
.menu li {
  padding:5% 10%;
  text-align:center;
}
.contents li{
  background-color:#F3A7AB;
  color:#fff;
  padding:10% 10%;
  box-sizing: border-box;
  border: solid 1px #fff;
}
.topic li{
  margin:1%;
  border-bottom: dotted 1px #333333;
}
.container{
  margin-top:20px;
  padding-bottom: 100px;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  margin-top: auto;
}

footer {
  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
}

header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: "American Typewriter";
}

.input-group {
  text-align: center;
}

table {
  width: 100%
}

td {
  font-family: 'Microsoft Sans Serif';
}

h3 {
  font-family: 'Impact';
}

body {
  background: #f2f2f2;
  background-image: url("business-3190209_1920.jpg");
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #FFF;
  border-radius: 10px;
  padding: 60px 10px;
  margin: 30px 0px;
}

.text {
  margin: 20px 0px;
}

.fa {
  color: #4183D7;
}

.card-size {
  width: 400px;
  //background-color: white;
  margin-right: auto;
  margin-left: auto;
  background: #FFF;
  border-radius: 10px;
  padding: 60px 10px;
  //margin: 30px 0px;
}

